.box1
{
    background-color: white;
    width: 300px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 150px;
    /* border: 5px solid ; */
    border-radius: 20px;
    box-shadow: 0px 0px 50px ;
    font-size: 16px;
    color: black;
    line-height: 20px;
    font-family: sans-serif;
    font-weight: 900;
    text-align: justify;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.box1 img
{
    width: 300px;
    object-fit: cover;
    border-radius: 20px;

}

