.box1
{
    background-color: yellow;
    width: 300px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 150px;
    border: 5px solid ;
    border-radius: 20px;
    box-shadow: 30px 30px 50px ;
}

